/* header */
.nav{
  padding-top: 40px;
  a:hover{
    color: red;
  }
}
.banner{
  padding: 72px 0;
  align-items: center;
}
.header-text{
  width: 636px;
}
.header-text a:hover{
  background-color: #00FFA3;
}
